html{
    height: 100%;
}
body{
    font-family: tahoma;
    font-size: 22px;
    width: auto;
    width: auto;
    padding: 50px;
    text-align: center;
}
#time{
    background-color: lightcoral;
    border: 2px red solid;
    font-size: 18px;
}